* text=auto !eol
/LICENSE.txt svneol=native#text/plain
benchs/Bench-AceTimer-3.0/Bench-AceTimer-3.0.toc svneol=native#text/plain
benchs/Bench-AceTimer-3.0/bench1.lua svneol=native#text/plain
tests/AceAddon-3.0.lua svneol=native#text/plain
tests/AceDB-3.0.lua svneol=native#text/plain
tests/AceEvent-3.0.lua svneol=native#text/plain
tests/LibStub.lua svneol=native#text/plain
tests/wow_api.lua svneol=native#text/plain
